<!DOCTYPE html>
<html> <head>
<title>Leaflet Booze Maps</title>
 
<!-- Leaflet css -->
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.2.0/dist/leaflet.css" integrity="sha512-M2wvCLH6DSRazYeZRIm1JnYyh22purTM+FDB5CsyxtQJYeKq83arPe5wgbNmcFXGqiSH2XR8dT/fJISVA1r/zQ==" crossorigin=""/>

<!-- Leaflet javascript file -->
  <script src="https://unpkg.com/leaflet@1.2.0/dist/leaflet.js" integrity="sha512-lInM/apFSqyy1o6s89K4iQUKg6ppXEgsVxT35HbzUupEVRh2Eu9Wdl4tHj7dZO0s1uvplcYGmt3498TtHq+log==" crossorigin=""></script>

<!-- 'viewport' is used by bootstrap to respond to device size -->
  <meta name="viewport" content="width=device-width, initial-scale=1">
 
<!-- Javascript:  JQuery from a content distribution network (CDN) -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
 
<!-- Bootstrap includes javascript and css  (must follow jquery) -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

<!-- load esri leaflet from cdn -->
  <script src="https://unpkg.com/esri-leaflet@2.0.8"></script> 

<!-- load esri leaflet geocoder from CND -->
  <link rel="stylesheet" href="https://unpkg.com/esri-leaflet-geocoder@2.2.6/dist/esri-leaflet-geocoder.css">
  <script src="https://unpkg.com/esri-leaflet-geocoder@2.2.6"></script>

<!-- Our own style sheet -->
  <link rel="stylesheet" href="/static/css/map.css" />
</head>

<!-- bootstrap requires a 'container' div around content -->
<div class="container" style="height: 100%; width: 95%;">

<h1>Booze Maps</h1>
  <p>This webpage hosts a BoozeMap. It centers on Eugene, Or (or the users position)
     and outputs markers for liquor or alcohol stores around the Eugene area. Happy Hunting!</p>

<div id="mapid" style="height: 85%; width: 100%;"></div>

<!-- portions of script code obtained from various tutorial webpages from leaflet website and esri geolocation examples -->
<script type ="text/javascript">
	//variables used to tell client where script root is relative to server url
	var SCRIPT_ROOT = {{request.script_root|tojson|safe}};	
	var GET_MARKERS = SCRIPT_ROOT + "/_map_markers";
        var GET_MARKERCNT = SCRIPT_ROOT + "/_marker_count";

	//variable for map, popup on map, service to match latlng to best address
	var mymap = L.map('mapid').setView([44.045, -123.072], 13);
	var popup = L.popup();
	var geocodeService = L.esri.Geocoding.geocodeService();

        //processes tilelayers
	L.tileLayer('https://api.tiles.mapbox.com/v4/{id}/{z}/{x}/{y}.png?access_token=pk.eyJ1IjoidXNlcmpvaG4iLCJhIjoiY2o5YndodzU2MWl6bzJ3bHNsODZtZ3BjeSJ9.gvHj15qqbo5Ko9Hby5g8gQ', {
		maxZoom: 18,
		attribution: 'Map data &copy; <a href="http://openstreetmap.org">OpenStreetMap</a> contributors, ' +
			'<a href="http://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, ' +
			'Imagery  <a href="http://mapbox.com">Mapbox</a>',
		id: 'mapbox.streets'
	}).addTo(mymap);

	//locate position of client
	mymap.locate({setView: true, maxZoom: 16}); 

	//center map and place marker
	mymap.on('locationfound', function onLocFound(e) {
		var radius = e.accuracy / 2;
		L.marker(e.latlng).addTo(mymap)
		.bindPopup("You're pretty close to this point. (within " + radius + " meters)").openPopup();
		L.circle(e.latlng, radius).addTo(mymap);
	});

	//output error message about location
	mymap.on('locationerror', function onLocError(e) {
		alert(e.message);
	});

	//place popup with address when click on map
	mymap.on('click', function onMapClick(e) {
		geocodeService.reverse().latlng(e.latlng).run(function(error, result) {
			popup
				.setLatLng(result.latlng)
				.setContent(result.address.Match_addr)
				.openOn(mymap);
		});
        });

        //called when page finished loading
	$(document).ready(function() {
		getMarkerCount(); 
	}); 

	//determine count of markers to be placed
	function getMarkerCount() {
		$.getJSON(GET_MARKERCNT, function(data) {
			count = data.result.count;
			
			//we call placemarkers with count to grab correct marker information
			while (count > 0) {
				placeMarkers(count);
				count -= 2;
			}
		});
        }

	//called inside of getMarkerCount, depending on number of markers
	function placeMarkers(count) {
		$.getJSON(GET_MARKERS, { count: count }, function(data) {
			var curMarker = data.result;

			//plugin used to grab lat&long values from address
			L.esri.Geocoding.geocode().text(curMarker.address).run(function(error, result, response) {
				L.marker(result.results[0].latlng).addTo(mymap).bindPopup(curMarker.name + '<br />' + curMarker.address);
			});
		});
	}

</script>
</div>
</body>
</html>
